*{box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    font-family: 'Raleway', sans-serif;
}
.block{
margin-bottom:110px;
}
.container {
    max-width:1170px;
    padding: 0 16px;
    margin: 0 auto;
}
.title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
}
.line {
    width: 170px;
    height: 0;
    border-top: 1px solid #EC7979;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}
.text1{
    text-align: center;
    margin-bottom: 92px;
    color: #86878B;
    line-height: 21px;
}
.group {
    display: flex;
    justify-content: center;
}

.item{
    max-width:370px;
    width: 370px;
   text-align: center;
}
.item1,.item2 {
    margin-right:28px;
}
.image {
    display: flex;
   align-items: center;
   justify-content: center;
    width: 92px;
    height: 92px;
    border:1px solid #EC7979; 
    border-radius: 50%;
    margin:0 auto 24px;
}
.heading{
    text-align: center;
    margin-bottom:26px;
    font-weight: 700;;
    font-size: 24px;
    line-height: 33px;
    font-family: 'Open Sans', sans-serif;
}
.text{
    font-size: 18px;
    text-align: center;
}

